<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerLinks}}
  </head>
  <body>
    <div class="container-fluid main_menu">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          {{>navbar}}
        </div>
      </div>
    </div>
    <!-- Main-header -->
    <div class="container-fluid Main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-12 col-12 Main_header_left align-items-center">
              <figure class="errorimg">
                 <img src="img/errorpage.jpg" alt="My image" class="img-fluid" srcset="">
              </figure>
              <p>Welcome to Pushpesh World🌍</p>
              <h1 class="message">{{errorMsg}}</h1>
              <a href="/"><button>Go back</button></a>
            </div>
            
              </div>
            </div>
          </div>
        </div>

    {{>footer}}
  </body>
</html>
